span {
  position: relative;
}

.audio {
  position: absolute;
  top: -15%;
  bottom: 50%;
}
audio {
  height: 35px;
  width: 400px;
}
/* 
<audio controls class="audio" id="audio">
    <source src="./Track/" type="audio/mp3" />
</audio> 
    */
